<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/lecture/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/trainDept/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CheckAttendanceStudent</servlet-name>
        <servlet-class>controller.attendance.CheckAttendanceStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAttendanceStudent</servlet-name>
        <url-pattern>/student/checkabsent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttendanceStudentController</servlet-name>
        <servlet-class>controller.timetable.TimetableStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceLectureController</servlet-name>
        <servlet-class>controller.timetable.TimetableLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLectureController</servlet-name>
        <servlet-class>controller.home.HomeLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureAttendance</servlet-name>
        <servlet-class>controller.attendance.LectureAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkStudentController</servlet-name>
        <servlet-class>controller.mark.MarkStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHome</servlet-name>
        <servlet-class>controller.StudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureHome</servlet-name>
        <servlet-class>controller.LectureHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecture</servlet-name>
        <servlet-class>controller.AddLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLecture</servlet-name>
        <servlet-class>controller.SearchLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>controller.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudent</servlet-name>
        <servlet-class>controller.ListStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>controller.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackForLecture</servlet-name>
        <servlet-class>controller.UpdateFeedbackForLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedback</servlet-name>
        <servlet-class>controller.UpdateFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>controller.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLecture</servlet-name>
        <servlet-class>controller.UpdateLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainDeptHome</servlet-name>
        <servlet-class>controller.trainDeptHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLecture</servlet-name>
        <servlet-class>controller.DeleteLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccount</servlet-name>
        <servlet-class>controller.LoginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfomationController</servlet-name>
        <servlet-class>controller.personalinfo.StudentInfomationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureInfo</servlet-name>
        <servlet-class>controller.personalinfo.LectureInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceStudentController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceLectureController</servlet-name>
        <url-pattern>/lecture/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureAttendance</servlet-name>
        <url-pattern>/lecture/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkStudentController</servlet-name>
        <url-pattern>/student/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHome</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLectureEachStudent</servlet-name>
        <url-pattern>/student/ListLectureEachStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedbackByLectureId</servlet-name>
        <url-pattern>/student/ListFeedbackByLectureId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassForFeedBack</servlet-name>
        <url-pattern>/lecture/ListClassForFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentEachClass</servlet-name>
        <url-pattern>/lecture/ListStudentEachClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackToStudent</servlet-name>
        <url-pattern>/lecture/SendFeedbackToStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackToLecture</servlet-name>
        <url-pattern>/student/SendFeedbackToLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedbackByStudentId</servlet-name>
        <url-pattern>/lecture/ListFeedbackByStudentId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureHome</servlet-name>
        <url-pattern>/lecture/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLecture</servlet-name>
        <url-pattern>/trainDept/ListLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecture</servlet-name>
        <url-pattern>/trainDept/AddLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLecture</servlet-name>
        <url-pattern>/trainDept/SearchLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/trainDept/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudent</servlet-name>
        <url-pattern>/trainDept/ListStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/trainDept/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackForLecture</servlet-name>
        <url-pattern>/student/UpdateFeedbackForLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedback</servlet-name>
        <url-pattern>/lecture/UpdateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/trainDept/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLecture</servlet-name>
        <url-pattern>/trainDept/UpdateLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/trainDept/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainDeptHome</servlet-name>
        <url-pattern>/trainDept/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLecture</servlet-name>
        <url-pattern>/trainDept/DeleteLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccount</servlet-name>
        <url-pattern>/LoginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfomationController</servlet-name>
        <url-pattern>/student/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureInfo</servlet-name>
        <url-pattern>/lecture/info</url-pattern>
    </servlet-mapping>
</web-app>
